<section>
  <div class="container">
    <img class="spinner" *ngIf="!country" src="../../assets/images/spinner.gif" />
    <button class="button is-primary" (click)="goBack()">Back</button>
    <h1 class="title is-1">{{country.name}}</h1>
    <div class="columns">
      <div class="column is-half-desktop">
        <img src="{{country.flag}}" />
      </div>
      <div class="column is-half-desktop">
        <h2 class="subtitle is-3">Key information:</h2>
        <p>Capital: {{country.capital}}</p>
        <p>Region: {{country.region}}</p>
        <p>Population: {{country.population}}</p>
      </div>
    </div>
  </div>
</section>
